<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.hektor.paulo.cadastro">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ListaAlunosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="br.com.hektor.paulo.cadastro.FormularioActivity">

        </activity>
    </application>

</manifest>
